:root {
  --my-light-grey: #f1f1f1;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 60%;
  margin: 0 auto;
}


/* --- HEADER --- */
nav {
  padding: 1em 2em;
  background-color: #2f3237;
  color: white;
}

nav a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Categories Nav*/
#button-menu {
  cursor: pointer;
}

.menu-categories {
  width: 0px;
  height: 100vh;
  position: fixed;
  z-index: 1;
  /* top: 0; */
  background-color: #3a3d42;
  overflow-x: hidden;
  /* padding-top: 60px; */
  transition: 0.5s;
}

.menu-categories a {
  display: block;
  padding: 0.8em 1em;
  text-decoration: none;
  color: grey;
  font-size: 1.1em;
  transition: 0.3s;
}

.menu-categories a:hover {
  color: white;
}

.title a {
  font-size: 2em;
}

/* Dropdown Account */
.dropdown {
  position: relative;
  display: inline-block;
}

#button-account {
  cursor: pointer;
}

.dropdown-content {
  width: 120px;
  display: none;
  position: absolute;
  right: 0;
  z-index: 1;
  background-color: var(--my-light-grey);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align: center;
}

.dropdown-content a {
  display: block;
  padding: 0.8em 1em;
  color: black;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}


/* --- MAIN --- */
.title-section {
  display: block;
  width: 80%;
  margin: 10px 0;
  font-size: 1.5em;
}

.title-section::after {
  display: block;
  content: " ";
  height: 1px;
  margin-bottom: 15px;
  background-color: grey;
}

.deck-cards {
  display: flex;
  flex-wrap: wrap;
}

.deck-cards a {
  text-decoration: none;
  color: black;
}

.card {
  width: 250px;
  padding: 0.5em 0.5em;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 0.5em 0.5em;
  background-color: var(--my-light-grey);
}

.card:hover {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.card img {
  display: block;
  width: 100%;
  height: 150px;
}

.card-title {
  display: block;
  margin: 8px 0;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
}

.card p {
  font-size: 0.8em;
  color: grey;
}

.card-author {
  font-size: 0.8em;
  font-weight: bold;
}

.card-info {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.card-info img {
  width: 100px;
  height: 70px;
  border-radius: 8px;
  margin-right: 15px;
}

.card-info-title {
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.container-game {
  width: 100%;
  height: 600px;
  background-color: grey;
}

.game {
  width: 900px;
  height: 100%;
  margin: 0 auto;
  background-color: black;
}

/* --- FOOTER --- */
footer {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  flex-wrap: wrap;
  width: 100%;
  padding: 1em 0;
  background-color: #2f3237;
  color: white;
}
