:root {
  --my-light-grey: #f1f1f1;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


/* --- HEADER --- */
nav {
  padding: 1em 2em;
  /* margin-bottom: 1em; */
  background-color: #2f3237;
  color: white;
}

nav a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Categories Nav*/
.menu-categories {
  width: 0px;
  height: 100vh;
  position: fixed;
  z-index: 1;
  /* top: 0; */
  background-color: #3a3d42;
  overflow-x: hidden;
  /* padding-top: 60px; */
  transition: 0.5s;
}

.menu-categories a {
  display: block;
  padding: 0.8em 1em;
  text-decoration: none;
  color: grey;
  font-size: 1.1em;
  transition: 0.3s;
}

.menu-categories a:hover {
  color: white;
}


.title a {
  font-size: 2em;
}

/* Dropdown Account */
.dropdown {
  position: relative;
  display: inline-block;
}

#button-account {
  cursor: pointer;
}

.dropdown-content {
  width: 120px;
  display: none;
  position: absolute;
  right: 0;
  z-index: 1;
  background-color: var(--my-light-grey);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align: center;
}

.dropdown-content a {
  display: block;
  padding: 0.8em 1em;
  color: black;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}


/* --- FOOTER --- */
footer {
  width: 100%;
  margin-top: 1em;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: #2f3237;
  color: white;
}
