:root {
  --white: #ffffff;
  --grey : #999999;
  --black: #3a3d42;

  --white: #ffffff;
  --white-secondary: #eff3f6;
  --grey-primary: #cfd9e0;
  --grey-secondary : #999999;
  --blue-primary : #0b2239;
  --blue-secondary : #0e4a89;
  --orange : #ffb229;
  /* : #fca120; */
  --green: #4ad295;

}

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #f2f2f2;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
}

/* SOBRESCRITURA */
.dropdown-menu {
  left: auto;
  right: 0;
}

@media only screen and (max-device-width : 576px) {
  .tooltip {
      display: none !important;
  }
 }


/* MIS CLASES */
.no-button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.background-center {

  background-position: center;
}

.title-section {
  color:  var(--grey) !important;
  text-decoration: none !important;
  font-weight: bold;
}

/* SIDEBAR */
 #close {
  cursor: pointer;
}

#sidebar-menu {
  width: 0px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: var(--black);
  overflow-x: hidden;
  transition: 0.5s;
}

#sidebar-menu span {
  padding: 0.8em 1em;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  transition: 0.3s;
}

#sidebar-menu div.head {
  height: 80px;
  border-bottom: 1px solid grey;
}

#sidebar-menu a {
  display: block;
  padding: 1em 1.3em;
  text-decoration: none;
  color: grey;
  font-size: 1.2em;
  transition: 0.3s;
}

#sidebar-menu a:hover {
  color: white;
  background-color: rgba(200, 200, 200, 0.38);
}


/* CONTAINER GAME*/
.container-game {
  width: 100%;
  height: 600px;
}

.game {
  height: inherit;
  background-color: black;
}

/* FOOTER */
.clear-footer {
  height: 56px;
  content: "";
}

footer {
  position: absolute;
  bottom: 0;
}
