/* Contenedor */
.game {
  border: 3px solid black;
  background-color: #e6e7ee;
}

/* Botón PLAY */
div.play {
  width: 300px;
  height: 150px;
  margin: auto;
}

.btn-play {
  width: inherit;
  height: inherit;
  border-radius: 30px;
  border-color: #8cdaa8;
  background-color: #8cdaa6;
  font-size: 300%;
}

.button-play:hover {
  border-color: #6bbe89;
  background-color: #83c498;
}

/* Contenido */
.content-game {
  display: none;
}

/* Resultados*/
.result-img {
  display: flex;
  justify-content: center;
  border: 3px solid black;
}

.result-img img {
  height: 180px;
}

/* Opciones */
.options .row-1 , .options .row-2 {
  display: flex;
  justify-content: center;
}

.option {
  height: 150px;
}

.option:hover {
  cursor: pointer;
  transform: scale(1.15);
}


 .game, .content_game, .scores, .center_images, .options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scores {
  font-size: large;
}
