/* Contenedor */
.game {
  border: 3px solid black;
  background-color: #e6e7ee;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Botón PLAY */
.btn-play {
  width: 300px;
  height: 150px;
  border-radius: 30px;
  border-color: #8cdaa8;
  background-color: #8cdaa6;
  font-size: 300%;
  cursor: pointer;
}

.button-play:hover {
  border-color: #6bbe89;
  background-color: #83c498;
}

/* Contenido */
.content-game, .options, .scores, .result {
  display: none;
}

/* Puntuaciones */
.scores {
  text-align: center;
}

/* Resultados*/
.result::before {
  display: block;
  width: 90%;
  height: 3px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: black;
  content: " ";
}

.result::after {
  display: block;
  width: 90%;
  height: 3px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: black;
  content: " ";
}

.result h2 {
  text-align: center;
  margin-bottom: 3px;
  font-size: 30px;
}

.result-img {
  display: flex;
  justify-content: center;
}

.result-img img {
  height: 180px;
  margin: 0 5px;
}

/* Opciones */
.options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.option {
  height: 150px;
}

.option:hover {
  cursor: pointer;
  transform: scale(1.15);
}


 /* .game, .content_game, .scores, .center_images, .options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scores {
  font-size: large;
} */
